{%load static%}

<div class = "registration-page">
 <div class="container">
  <div class="row">
   <div class="col-2">
    <img src = {% static 'image/Registration.JPG' %} width="400px" alt="No image">
   </div>
     <div class= "col-2">
      <div class= "form-container">
       <div class = "form-btn" >
        <span >Registration</span>
        <hr>
       </div>
        <form id="RegForm" action="" method="POST">
         {% csrf_token %}
          {{ serializer.username }}
        {% for field_name, field in serializer.fields.items %}
         {{ serializer.username }}
         {{ field.label_tag }}
         {{field}}
         {% endfor %}
          <div class="sign-btn">
           <button> Sign Up </button>
          </div>
          <div>
          <small> Already have an account? <a href="">Login </a></small>
          </div>
        </form>
      </div>
     </div>
  </div>
 </div>
</div>