{%load static%}

<div class = "registration-page">
 <div class="container">
  <div class="row">
   <div class="col-2">
    <img src ="{% static "image/Registration.JPG" %}" width="500px" alt="No image">
   </div>
     <div class= "col-2">
      <div class= "form-container">
       <div class = "form-btn" >
        <span >Registration</span>
        <hr>
       </div>
        <form id="RegForm" action="" method="POST">
         {% csrf_token %}
         {% for field in f%}
        </form>
      </div>
     </div>
  </div>
 </div>
</div>